 @import "tailwindcss"; 

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* for variable font */
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

